.smart-modal{
z-index: 99999;
position: fixed;
display: flex;
width: 40%;
height: 400px;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: white;
justify-content: center;
align-items: center;

}

.close{
    position:absolute;
    right:18px;
    top:20px;
    z-index:999999;
    width: 20px;
    height: 20px;
}